dist: xenial

services: mongodb

before_install:
  - sudo apt-get update
  - sudo apt-get install -y git ant cmake openjdk-8-jdk g++ jq wget unzip

script:
  - export JAVA_HOME=$(dirname $(dirname $(readlink -f $(which javac))))
  - cd danhelper
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd ../../danalyzer
  - ant
  - cd ../dansolver
  - ant
  - cd ../danlauncher
  - ant
  - cd ../
  - mkdir z3
  - cd z3
  - wget https://github.com/Z3Prover/z3/releases/download/z3-4.8.4/z3-4.8.4.d6df51951f4c-x64-ubuntu-16.04.zip
  - unzip z3-4.8.4.d6df51951f4c-x64-ubuntu-16.04.zip
  - cd z3-4.8.4.d6df51951f4c-x64-ubuntu-16.04/bin
  - sudo cp z3 libz3java.so libz3.so com.microsoft.z3.jar /usr/lib
  - cd ../../../dansolver
  - ant run &
  - ps -ef | grep dansolver
  - cd ../tests
  - ./make_tests.sh ByteRangeTest
  - ./run_tests.sh ByteRangeTest

